// background colors
$background-color: #F1F4F9;
$table-background-color: #FFFFFF;

// font colors
$font-color-primary: #122945;
$font-color-secondary: #5E7793;
$font-color-green: #00A775;
$font-color-red: #EA1A4F;

// colors
$blue-color: #002CFB;
$green-color: #28A879;
$red-color: #EA1A4F;
$grey-color: #ADBFDF;